# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [17]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\tanzi\\Desktop\\project_tc\\project_tc\\project_tc'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [18]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [19]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\tanzi\\Desktop\\project_tc\\project_tc'

# Section 1

## Extract data from the dataset.

In order to run this notebook, you need to have the following libraries installed:  
- pandas
- numpy

---

In [20]:
import numpy as np
import pandas as pd

Data is extracted from the dataset. Raw or unprocessed data is often messy and requires cleaning and transformation before it can be analyzed. This is extracted and defined as df (dataframe).

## Data Input

In [21]:
df = pd.read_csv(r'C:\Users\tanzi\Desktop\project_tc\project_tc\project_tc\dataset\raw\Online_Retail.csv')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

Since time and date are mentioned in the dataset, it's important to convert these columns to the appropriate datetime format for better analysis.

In [22]:
# Ensure 'InvoiceDate' is in datetime format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Extract date
df['Date'] = df['InvoiceDate'].dt.date

# Extract time
df['Time'] = df['InvoiceDate'].dt.time



df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010-12-01,08:26:00

Since InvoiceDate have already been splited into separate Date and Time columns, and no longer needed the original combined column, it is perfectly fine to drop it. This helps:

Reduce redundancy in your dataset

Avoid confusion during transformations or analysis

Save memory if the dataset is large

In [23]:
# Drop the 'InvoiceDate' column after extracting date and time
df = df.drop(columns=['InvoiceDate'])
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,2010-12-01,08:26:00

## Finding Missing Values

Finding missing values is an important step in data preprocessing. It helps identify gaps in the dataset that may need to be addressed before analysis or modeling. It helps to ensure data quality & accuracy, prevent runtime errors and better decision making.

In [24]:
df.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
UnitPrice         0
CustomerID        0
Country           0
Date              0
Time              0
dtype: int64

replacing missing value with Unknown so that the analysis can proceed without errors

In [32]:


df['Description'].fillna('Unknown', inplace=True)
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
UnitPrice      0
CustomerID     0
Country        0
Date           0
Time           0
Sales          0
Month          0
dtype: int64

get summary statistics
df.describe()

In [25]:
df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time
count,541909,541909,540455,541909.000000,541909.000000,541909.000000,541909,541909,541909
unique,25900,4070,4223,NaN,NaN,NaN,38,305,774
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,NaN,NaN,United Kingdom,2011-12-05,15:56:00
freq,1114,2313,2369,NaN,NaN,NaN,495478,5331,2628
mean,NaN,NaN,NaN,9.552250,4.611114,15287.518434,NaN,NaN,NaN
std,NaN,NaN,NaN,218.081158,96.759853,1484.746041,NaN,NaN,NaN
min,NaN,NaN,NaN,-80995.000000,-11062.060000,12346.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,1.250000,14367.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,3.000000,2.080000,15287.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,10.000000,4.130000,16255.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,80995.000000,38970.000000,18287.000000,NaN,NaN,NaN

In [26]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,2010-12-01,08:26:00
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680,France,2011-12-09,12:50:00
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680,France,2011-12-09,12:50:00
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680,France,2011-12-09,12:50:00
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680,France,2011-12-09,12:50:00
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680,France,2011-12-09,12:50:00

# Section 2: Finding Trends

## Customer Demographics

---

In  order to find sales trends, we need to extract the month from the date column and group the data by month. This will allow us to analyze sales patterns over time.

In [27]:
df['Sales'] = df['UnitPrice'] * df['Quantity']
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time,Sales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,2010-12-01,08:26:00,15.30
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,2010-12-01,08:26:00,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680,France,2011-12-09,12:50:00,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680,France,2011-12-09,12:50:00,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680,France,2011-12-09,12:50:00,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680,France,2011-12-09,12:50:00,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680,France,2011-12-09,12:50:00,14.85

In [30]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month_name()
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time,Sales,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,2010-12-01,08:26:00,15.30,December
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,20.34,December
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,2010-12-01,08:26:00,22.00,December
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,20.34,December
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,20.34,December
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680,France,2011-12-09,12:50:00,10.20,December
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680,France,2011-12-09,12:50:00,12.60,December
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680,France,2011-12-09,12:50:00,16.60,December
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680,France,2011-12-09,12:50:00,16.60,December
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680,France,2011-12-09,12:50:00,14.85,December

Now grouping the data according to country and month to find monthly sales in each country given in data

In [31]:
country_month_sales = (
    df.groupby(['Country', 'Month'], as_index=False)['Sales']
      .sum()
      .sort_values(['Country', 'Month'])
)
country_month_sales

         Country      Month     Sales
0      Australia      April    333.40
1      Australia     August  22489.20
2      Australia   December   1005.10
3      Australia   February  14627.47
4      Australia    January   9017.71
..           ...        ...       ...
291  Unspecified       July   1425.41
292  Unspecified       June    185.78
293  Unspecified        May   1055.87
294  Unspecified   November    965.75
295  Unspecified  September    286.85

[296 rows x 3 columns]

In order to find most active day of the week in each country we need to convert date into days of the week

NOTE

In [ ]:
df['Day'] = pd.to_datetime(df['Date']).dt.day_name()
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,2010-12-01,08:26:00,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,Wednesday
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom,2010-12-01,08:26:00,Wednesday
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,Wednesday
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom,2010-12-01,08:26:00,Wednesday
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680,France,2011-12-09,12:50:00,Friday
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680,France,2011-12-09,12:50:00,Friday
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680,France,2011-12-09,12:50:00,Friday
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680,France,2011-12-09,12:50:00,Friday
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680,France,2011-12-09,12:50:00,Friday

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)

IndentationError: expected an indented block after 'try' statement on line 2 (553063055.py, line 5)